name: Tests & Coverage

on:
  push:
    branches:
      - sandbox
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --all-extras

      - name: Run tests with coverage
        run: |
          pip install pytest-cov coverage
          pytest --cov=flask_admin_tabler --cov-report=term-missing


      # - name: Upload coverage to Coveralls
      #   if: matrix.python-version == '3.13'
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: coveralls
